.head {

    background-color: lightseagreen;
    color: white;
}

.loginform {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio {
    display: flex;
    justify-content:space-between;
}